
.imagenCentrado{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 940px;
}

body{

  background: rgb(0,0,0);
  background: linear-gradient(360deg, rgba(0,0,0,1) 0%, rgba(0,24,47,1) 100%);
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

.nota{
  padding-top: 20px;
  color: #ddd;
  font-size: 13px;
}

.items, .items2{
  margin: 0 auto;
  max-width: 500px;
}

.items a, .items2 a{
  display:inline-block;
  color: #ddd;
  text-transform: uppercase;
  display:inline-block;
  text-decoration:none;
  margin: 0 20px;
  height: 20px;
  overflow: hidden;
}

.items a span{
  display: inline-block;
  position:relative;
  transition: transform 500ms;
  -webkit-transition: -webkit-transform 500ms;
  -moz-transition: transform 500ms;
  
}
.items a span:after{
  content: attr(data-hover);
  position: absolute;
  top: -30px;
  left:0;
  transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-webkit-transform: translate3d(0,0,0);
}
.items a:hover span,
.items a:focus span {
	transform: translateY(30px);
  -webkit-transform: translateY(30px);
  -moz-transform: translateY(30px);
}

