html,
body {
  height: 100%;
}

#contenido{
  background-color: white;
}

#page-content {
  flex: 3 2 auto;
  border: 1px solid black;
}

#sticky-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}